name: Build ZMK firmware
on: [push, pull_request, workflow_dispatch]

jobs:
  prepare-and-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout config
        uses: actions/checkout@v4

      - name: Call ZMK build workflow
        uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@v0.3
